.holder {
	display : grid ;
	grid-template-columns : repeat(2,1fr) ;
	grid-template-rows : repeat(2,1fr) ;
	width : 200px ;
	height : 200px ;
	gap : 0 ;
	border : 1px solid #000 ;
}
	.item {
		display : flex ;
		align-items : center ;
		justify-content : center ;
		border : 1px solid #ddd ;
		background-color : #f0f0f0 ;
	}
/* Your CSS Code here. */